{
  "presets": ["babel-preset-expo"],
  "plugins": [
    ["transform-react-jsx-source"],
    [
      "module-resolver",
      {
        "alias": {
          "@Assets": "./assets",
          "@Images": "./assets/images",
          "@Bg": "./assets/bg",
          "@Components": "./components",
        }
      }
    ]
  ]
}
